@model BusinessObjects.Models.User
@using GlobalResource.Resources

@{
    ViewBag.Title = "login";
}
<h2 class="login100-form-title p-b-51 text-center p-t-150">@LangText.login </h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-4 center-block">
                <div class="wrap-input100">
                    @Html.EditorFor(model => model.bankName, new { htmlAttributes = new { @class = "input100", placeholder = LangText.bankName } })
                    <span class="focus-input100"></span>
                    @Html.ValidationMessageFor(model => model.bankName, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4 center-block">
                <div class="wrap-input100">
                    @Html.EditorFor(model => model.userName, new { htmlAttributes = new { @class = "input100", placeholder = LangText.userName } })
                    <span class="focus-input100"></span>
                    @Html.ValidationMessageFor(model => model.userName, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4 center-block">
                <div class="wrap-input100">
                    @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "input100", placeholder = LangText.password, Type = "password" } })
                    <span class="focus-input100"></span>
                    @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4 center-block">
                <input id="login" type="submit" value="@LangText.login" class="login100-form-btn" />
            </div>
        </div>
    </div>
}