@model IEnumerable<BusinessObjects.Models.Branch>
@using GlobalResource.Resources

@{
    ViewBag.Title = LangText.branches;
}
<h1 class="title-custom">@LangText.branches</h1>
<div class="row p-l-30 p-b-10 p-r-30">
    @Html.ActionLink(LangText.createBranch, "Add", null, new { @class = "button4" })
    @Html.ActionLink(LangText.services, "Home", "Services", null, new { @class = "button4 revert-float" })
</div>
<div class="row p-b-10">
    <div class="col-md-3 padding-lang">
    </div>
    <div class="col-2 revert-float">
    </div>
</div>
<div class="wrap-table100">
    <div class="table100 ver1 m-b-110">
        <div class="table100-head">
            <table>
                <thead>
                    <tr class="row100 head">
                        <th class="cell100 column1">
                            @Html.DisplayName(LangText.enName)
                        </th>
                        <th class="cell100 column2">
                            @Html.DisplayName(LangText.arName)
                        </th>
                        <th class="cell100 column3">
                            @Html.DisplayName(LangText.active)
                        </th>
                        <th class="cell100 column4"></th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="table100-body js-pscroll">
            <table>
                <tbody>
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            using (Html.BeginForm("Delete", "Branches", new { branchId = item.id }, FormMethod.Post, new { @class = "formAlert" }))
                            {
                                <tr class="row100 body">
                                    <td class="cell100 column1">
                                        @Html.DisplayFor(modelItem => item.enName)
                                    </td>
                                    <td class="cell100 column2">
                                        @Html.DisplayFor(modelItem => item.arName)
                                    </td>
                                    <td class="cell100 column3">
                                        @Html.DisplayFor(modelItem => item.active)
                                    </td>
                                    <td class="cell100 column4">
                                        @Html.ActionLink(LangText.edit, "Edit", new { branchId = item.id }) |
                                        @Html.ActionLink(LangText.counters, "Home", "Counters", new { branchId = item.id }, null) |
                                        <input type="submit" value="@LangText.delete " class="buttonLink" />
                                    </td>
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>