@model BusinessObjects.Models.Service

@{
    ViewBag.Title = BankCP.Resources.LangText.addService;
}

<h2>@BankCP.Resources.LangText.addService</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <div class="col-md-4">
            <div class="wrap-input100">
                @Html.EditorFor(model => model.enName, new { htmlAttributes = new { @class = "input100", placeholder = BankCP.Resources.LangText.enName } })
                <span class="focus-input100"></span>
                @Html.ValidationMessageFor(model => model.enName, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-4">
            <div class="wrap-input100">
                @Html.EditorFor(model => model.arName, new { htmlAttributes = new { @class = "input100", placeholder = BankCP.Resources.LangText.arName } })
                <span class="focus-input100"></span>
                @Html.ValidationMessageFor(model => model.arName, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-4">
            <div class="wrap-input100">
                @Html.EditorFor(model => model.tickets, new { htmlAttributes = new { @class = "input100", placeholder = BankCP.Resources.LangText.ticket } })
                <span class="focus-input100"></span>
                @Html.ValidationMessageFor(model => model.tickets, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.active, BankCP.Resources.LangText.active, htmlAttributes: new { @class = "control-label col-md-1 font-label" })
        <div class="col-md-1">
            <div class="checkbox">
                @Html.EditorFor(model => model.active)
                @Html.ValidationMessageFor(model => model.active, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-4">
            @Html.ActionLink(BankCP.Resources.LangText.backToList, "ServiceHome", null, new { @class = "button4" })
            <input type="submit" style="float:right;" value="@BankCP.Resources.LangText.create " class="button4" />
        </div>
    </div>
</div>
}
