@model BusinessObjects.Models.Service
@using GlobalResource.Resources

@{
    ViewBag.Title = LangText.editService;
}

<h2>@LangText.editService</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.id)

    <div class="form-group">
        <div class="col-5 col-lg-5 col-md-5 col-s-5 col-sm-8 col-xs-10">
            @Html.LabelFor(model => model.enName, new { @class = "center-block label-forms" })
            <div class="wrap-input100">
                @Html.EditorFor(model => model.enName, new { htmlAttributes = new { @class = "input100", placeholder = LangText.enName } })
                <span class="focus-input100"></span>
                @Html.ValidationMessageFor(model => model.enName, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-5 col-lg-5 col-md-5 col-s-5 col-sm-8 col-xs-10">
            @Html.LabelFor(model => model.arName, new { @class = "center-block label-forms" })
            <div class="wrap-input100">
                @Html.EditorFor(model => model.arName, new { htmlAttributes = new { @class = "input100", placeholder = LangText.arName } })
                <span class="focus-input100"></span>
                @Html.ValidationMessageFor(model => model.arName, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-5 col-lg-5 col-md-5 col-s-5 col-sm-8 col-xs-10">
            @Html.LabelFor(model => model.maxNumOfTickets, new { @class = "center-block label-forms" })
            <div class="wrap-input100">
                @Html.EditorFor(model => model.maxNumOfTickets, new { htmlAttributes = new { @class = "input100", placeholder = LangText.ticket } })
                <span class="focus-input100"></span>
                @Html.ValidationMessageFor(model => model.maxNumOfTickets, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-5 col-lg-5 col-md-5 col-s-5 col-sm-8 col-xs-10">
            @Html.LabelFor(model => model.active, LangText.active, htmlAttributes: new { @class = "font-label-check" })
            @Html.EditorFor(model => model.active)
            @Html.ValidationMessageFor(model => model.active, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-5 col-lg-5 col-md-5 col-s-5 col-sm-8 col-xs-10">
            @Html.ActionLink(LangText.backToList, "Home", null, new { @class = "button4" })
            <input type="submit" value="@LangText.save " class="button4 revert-float" />
        </div>
    </div>
</div>
}
