@model IEnumerable<BusinessObjects.Models.Service>

@{
    ViewBag.Title = "ServiceHome";
}

<h2>ServiceHome</h2>

<p>
    @Html.ActionLink(BankCP.Resources.LangText.createService, "AddService")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName(BankCP.Resources.LangText.name)
        </th>
        <th>
            @Html.DisplayName(BankCP.Resources.LangText.active)
        </th>
        <th>
            @Html.DisplayName(BankCP.Resources.LangText.ticket)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        using (Html.BeginForm("DeleteService", "Services", new { serviceId = item.id }))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.active)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tickets)
                </td>
                <td>
                    @Html.ActionLink(BankCP.Resources.LangText.edit, "EditService", new { serviceId = item.id }) |
                    <input type="submit" value="@BankCP.Resources.LangText.delete " class="buttonLink" onclick="return confirm('Are you sure you want to delete @item.name');" />
                </td>
            </tr>
        }
    }

</table>


<div>
    @Html.ActionLink(BankCP.Resources.LangText.backToBranches, "BranchesHome", "Branches")
</div>