@model IEnumerable<BusinessObjects.Models.AllocateCounterService>
@using GlobalResource.Resources
<div class="wrap-table100 p-t-50">
    <div class="table100 ver1 m-b-110">
        <div class="table100-head">
            <table>
                <thead>
                    <tr class="row100 head">
                        <th class="cell100 column1">
                            @Html.DisplayName(LangText.serviceEnName)
                        </th>
                        <th class="cell100 column2">
                            @Html.DisplayName(LangText.serviceArName)
                        </th>
                        <th class="cell100 column3"></th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="table100-body js-pscroll">
            <table>
                <tbody>
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            using (Html.BeginForm("Delete", "Allocate", new { id = item.id, counterId = item.counterId }, FormMethod.Post, new { @class = "formAlert" }))
                            {
                                <tr class="row100 body">
                                    <td class="cell100 column1">
                                        @Html.DisplayFor(modelItem => item.serviceEnName)
                                    </td>
                                    <td class="cell100 column2">
                                        @Html.DisplayFor(modelItem => item.serviceArName)
                                    </td>
                                    <td class="cell100 column3">
                                        <input type="submit" value="@LangText.delete " class="buttonLink" />
                                    </td>
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
