@model BankCP.Models.ServiceAllocate
@using GlobalResource.Resources

@{
    ViewBag.Title = "AllocateCounterServiceHome";
}

<h1 class="title-custom">@LangText.allocateCounterService </h1>

@Styles.Render("~/Content/drop-down-list")

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.id)
    <div style="display:flex;padding: 25px 0px;">
        @Html.Label(LangText.services, LangText.services, new { @class = "labels" })
        <div class="dropdown-mul-2" style="width: 100% !important;">
            @Html.DropDownListFor(model => model.AllocateId, null, new { @class = "form-control col-md-12", multiple = "multiple", style = "height:30px" })
        </div>
    </div>
    <input type="submit" value="@LangText.save " class="button4 revert-float" />
}


@{Html.RenderAction("_AllocateCounterServiceList", new { ViewBag.counterId });}

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/drop-down-list")



