@model BankConfigurationPortal.Models.ServiceAllocate
@using GlobalResource.Resources

@{
    ViewBag.Title = "Home";
}

<h1 class="title-custom">@LangText.allocateCounterService </h1>

@Styles.Render("~/Content/drop-down-list")

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.id)
    <div class="multi-drop-div  custom-allocate">
        @Html.Label(LangText.services, LangText.services, new { @class = "labels label-forms" })
        <div class="dropdown-mul-2">
            @Html.DropDownListFor(model => model.AllocateId, null, new { @class = "form-control col-md-12 drop-down-list-height", multiple = "multiple" })
        </div>
        <input type="submit" value="@LangText.save " class="button4 revert-float" />
    </div>
}


@{Html.RenderAction("_AllocateCounterServiceList", new { ViewBag.counterId });}
<div class="custom-back">
    @Html.ActionLink(LangText.backToBranches, "Home", "Branches", null, new { @class = "button4" })
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/drop-down-list")



