@using GlobalResource.Resources
@using System.Security.Claims;

<!DOCTYPE html>
<html lang="@LangText.language" dir="@LangText.direction">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @if (LangText.language == "en")
    {
        @Styles.Render("~/Content/css")
    }
    else
    {
        @Styles.Render("~/Content/rtl/css")
    }
    @Styles.Render("~/Content/css-main")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/sweetalert")
</head>
<body>
    @if (ViewBag.errorMsg != null)
    {
        <script>Swal.fire({ title: '@LangText.errorMsg', text: '@ViewBag.errorMsg', icon: 'error', confirmButtonText: '@LangText.ok' })</script>
        ViewBag.errorMsg = null;
    }

    @if (ViewBag.loginMsg != null)
    {
        <script>Swal.fire({ title: '@LangText.errorMsg', text: '@ViewBag.loginMsg', icon: 'error', confirmButtonText: '@LangText.ok' })</script>
        ViewBag.loginMsg = null;
    }
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink(LangText.applicationName, "Home", "Branches", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (LangText.languageText == "English")
                    {
        <li class="revert-float">@Html.ActionLink(LangText.languageText, "Change", "Lang", new { lang = "En" }, new { @class = "text-font-size" })</li> }
                    else
                    {
        <li class="revert-float">@Html.ActionLink(LangText.languageText, "Change", "Lang", new { lang = "Ar" }, new { @class = "text-font-size" })</li>}
                    @using (Html.BeginForm("logout", "Login", FormMethod.Post))
                    {
        @Html.AntiForgeryToken() if (HttpContext.Current.User.Identity.IsAuthenticated == true)
                        {
        <li class="revert-float">
            <input type="submit" value="@LangText.signOut" class="input-custom" />
        </li>}
                    }
            @if (HttpContext.Current.User.Identity.IsAuthenticated == true)
            {
                <li class="revert-float text-font-size input-custom title-custom-center">@((HttpContext.Current.User as ClaimsPrincipal).FindFirst("BankName").Value)</li>
            }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
<script>
        $(".formAlert").submit(function (e) {
            callConfirmAlert(this, e, '@LangText.checkSure', '@LangText.revert', '@LangText.cancel', '@LangText.yesDelete');
        });

        $('.input100').on('blur', function (evt) {
            $(this).valid();
        });
</script>
</body>
</html>
