@model IEnumerable<BusinessObjects.Models.Counter>
@using GlobalResource.Resources

@{
    ViewBag.Title = LangText.counters;
}

<h1 class="title-custom">@LangText.counters</h1>

<p>
    @Html.ActionLink(LangText.createCounter, "Add", new { branchId = ViewBag.branchId }, new { @class = "button4" })
</p>

<div class="wrap-table100">
    <div class="table100 ver1 m-b-110">
        <div class="table100-head">
            <table>
                <thead>
                    <tr class="row100 head">
                        <th class="cell100 column1">
                            @Html.DisplayName(LangText.enName)
                        </th>
                        <th class="cell100 column2">
                            @Html.DisplayName(LangText.arName)
                        </th>
                        <th class="cell100 column3">
                            @Html.DisplayName(LangText.active)
                        </th>
                        <th class="cell100 column4">
                            @Html.DisplayName(LangText.type)
                        </th>
                        <th class="cell100 column5"></th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="table100-body js-pscroll">
            <table>
                <tbody>
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            using (Html.BeginForm("Delete", "Counters", new { counterId = item.id, branchId = item.branchId }, FormMethod.Post, new { @class = "formAlert" }))
                            {
                                <tr class="row100 body">
                                    <td class="cell100 column1">
                                        @Html.DisplayFor(modelItem => item.enName)
                                    </td>
                                    <td class="cell100 column2">
                                        @Html.DisplayFor(modelItem => item.arName)
                                    </td>
                                    <td class="cell100 column3">
                                        @Html.DisplayFor(modelItem => item.active)
                                    </td>
                                    <td class="cell100 column4">
                                        @Html.DisplayFor(modelItem => item.type)
                                    </td>
                                    <td class="cell100 column5">
                                        @Html.ActionLink(LangText.edit, "Edit", new { counterId = item.id, branchId = item.branchId }) |
                                        @Html.ActionLink(LangText.services, "Home", "Allocate", new { counterId = item.id }, null) |
                                        <input type="submit" value="@LangText.delete " class="buttonLink" />
                                    </td>
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
    @Html.ActionLink(LangText.backToBranches, "Home", "Branches", null, new { @class = "button4" })
</div>
