@model List<BusinessObjects.Models.Service>
@using GlobalResource.Resources

@{
    ViewBag.Title = LangText.allocateCounterService;
}

<h1 class="title-custom">@LangText.allocateCounterService</h1>

@using (Html.BeginForm())
{
    <div class="row" style="display:flex;padding:20px 40px;">
        @Html.Label(LangText.services, htmlAttributes: new { @class = "control-label p-l-10 p-r-10 font-label" })
        @Html.DropDownList("serviceId", Model.Select(item => new SelectListItem
   {
       Value = item.id.ToString(),
       Text = LangText.languageText != "English" ? item.enName.ToString() : item.arName.ToString(),
       Selected = "select" == item.id.ToString()
   }), new { @class = "form-control drop-down-size" })
    </div>
    <div class="col-md-4">
        <input type="submit" value="@LangText.add " class="button4 revert-float" />
    </div>
}

@{Html.RenderAction("_AllocateCounterServiceList");}


@using (Html.BeginForm("insertDeleteAllocateCounterService", "AllocateCounterService"))
{
    <input type="submit" value="@LangText.saveData" class="button4 revert-float" />
}

<div>
    @Html.ActionLink(LangText.backToCounters, "CounterHome", "Counters", new { branchId = Session["branchId"] }, new { @class = "button4" })
</div>
